input.form-input:focus, input.form-input:focus {
    background-color: rgb(36, 36, 36);
    color: white;
}

input.form-input, input.form-input, input.form-file-input {
    background-color: rgb(68, 68, 68);
    border: none;
}